<html>
  <head>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <img src='/logoimage'/>
    <h1> Find Stats About Your Text Files! </h1>

    <p>Upload a .txt file and click submit</p>
    <form action="/getstats/" method="post" enctype="multipart/form-data">
      <input type ='file' name='myFile'></input>
      <br/>
      <input type ='submit'>
    </form>

    <p> your file name <%= fileNam %> </p>
    <p> line count: <%= lineCount %> </p>
    <p> word count: <%= numWords %> </p>
    <p> mean length: <%= meanLen %> </p>
    <p> median length <%= medianLen%> </p>
    <p> mode length <%= modeLen%> </p>
    <p> most common letter <%= mostCommonLetter%> </p>
  </body>
</html>
