<html>
  <body>
    <h1> Hello World</h1>

    <form action="/getstats/" method="post" enctype="multipart/form-data">
      <input type ='file' name='myFile'></input>
      <br/>
      <input type ='submit'>
    </form>

    <p> your file name <%= fileNam %> </p>
    <p> line count: <%= lineCount %> </p>
    <p> word count: <%= numWords %> </p>
    <p> mean length: <%= meanLen %> </p>
    <p> median length <%= medianLen%> </p>
  </body>
</html>
