<html>
  <head>
    <link rel="stylesheet" href="/styles.css" type="text/css">
  </head>
  <body>
    <h1> Find Stats About Your Text Files! </h1>

    <p>Upload a .txt file and click submit</p>
    <form action="/getstats/" method="post" enctype="multipart/form-data">
      <input type ='file' name='myFile' accept='.txt'></input>
      <br/>
      <input type ='submit'>
    </form>

    <p> Your file name: <%= fileNam %> </p>
    <p> Number of lines: <%= lineCount %> </p>
    <p> Word Count: <%= numWords %> </p>
    <p> Mean Length of Words: <%= meanLen %> </p>
    <p> Median Length of Words: <%= medianLen%> </p>
    <p> Mode Length of Words: <%= modeLen%> </p>
    <p> Most Common Letter of File: <%= mostCommonLetter%> </p>
  </body>
</html>
